<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itany.netclass.dao.UserResourceMapper">
    <!-- 二级缓存 -->
    <cache/>

    <!-- 新增一个用户已购资源 -->
    <insert id="saveUserResource" parameterType="userResource">
        insert into t_user_resource
            (user_id, resource_id, see_time, create_date, update_date)
        values
            (#{userId}, #{resourceId}, #{seeTime}, #{createDate}, #{updateDate});
    </insert>

    <!-- 根据 id 删除用户已购资源 -->
    <delete id="removeUserResourceById" parameterType="integer">
        delete
        from t_user_resource
        where id = #{id};
    </delete>

    <!-- 根据 id 修改用户已购资源，可修改字段 seeTime，updateDate -->
    <update id="updateUserResourceById" parameterType="userResource">
        update t_user_resource
        <set>
            <if test="null != seeTime and '' != seeTime">
                see_time = #{seeTime},
            </if>
            <if test="null != updateDate">
                update_date = #{updateDate},
            </if>
        </set>
        where id = #{id};
    </update>

    <!-- 根据 id 查询用户已购资源 -->
    <select id="getUserResourceById" parameterType="integer" resultMap="user_resource_map">
        select <include refid="user_resource_column_list"/>
        from t_user_resource
        where id = #{id}
    </select>

    <!-- 根据 userId 查询用户已购资源 -->
    <select id="listUserResourcesByUserId" parameterType="integer" resultMap="user_resource_map">
        select <include refid="user_resource_column_list"/>
        from t_user_resource
        where user_id = #{uid}
    </select>

    <!-- 根据 userId 和 resourceId 查询用户已购资源 -->
    <select id="getUserResourceByUserIdAndResourceId" resultMap="user_resource_map">
        select <include refid="user_resource_column_list"/>
        from t_user_resource
        where user_id = #{uid} and resource_id = #{rid}
    </select>

    <!-- 根据 userId 查询用户购买的资源，包含资源信息 -->
    <select id="listPurchase" resultMap="user_resource_with_resource_map">
        select <include refid="userResource_column_list_with_resource"/>
        from t_user_resource ur
             left join t_resource r
                   on r.id = ur.resource_id
        where ur.user_id = #{uid}
        order by ur.update_date desc
    </select>

    <sql id="user_resource_column_list">
        id, user_id, resource_id, see_time, create_date, update_date
    </sql>

    <sql id="userResource_column_list_with_resource">
        ur.id ur_id,
        ur.user_id ur_user_id,
        ur.resource_id ur_resource_id,
        ur.see_time ur_see_time,
        ur.create_date ur_create_date,
        ur.update_date ur_update_date,
        r.id r_id,
        r.title r_title,
        r.path r_path,
        r.cover_image_url r_cover_image_url,
        r.original_name r_original_name,
        r.file_size r_file_size,
        r.file_type r_file_type,
        r.total_time r_total_time,
        r.click_count r_click_count,
        r.create_date r_create_date,
        r.cost_type r_cost_type,
        r.cost_number r_cost_number,
        r.user_id r_user_id,
        r.chapter_id r_chapter_id,
        r.status r_status
    </sql>

    <resultMap id="user_resource_map" type="userResource">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="resourceId" column="resource_id"/>
        <result property="seeTime" column="see_time"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <resultMap id="user_resource_with_resource_map" type="userResource">
        <id property="id" column="ur_id"/>
        <result property="userId" column="u_user_id"/>
        <result property="resourceId" column="ur_resource_id"/>
        <result property="seeTime" column="ur_see_time"/>
        <result property="createDate" column="ur_create_date"/>
        <result property="updateDate" column="ur_update_date"/>
        <association property="resource" javaType="resource">
            <id property="id" column="r_id"/>
            <result property="title" column="r_title"/>
            <result property="path" column="r_path"/>
            <result property="coverImageUrl" column="r_cover_image_url"/>
            <result property="originalName" column="r_original_name"/>
            <result property="fileSize" column="r_file_size"/>
            <result property="fileType" column="r_file_type"/>
            <result property="totalTime" column="r_total_time"/>
            <result property="clickCount" column="r_click_count"/>
            <result property="createDate" column="r_create_date"/>
            <result property="costType" column="r_cost_type"/>
            <result property="costNumber" column="r_cost_number"/>
            <result property="userId" column="r_user_id"/>
            <result property="chapterId" column="r_chapter_id"/>
            <result property="status" column="r_status"/>
        </association>
    </resultMap>
</mapper>